@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'RobotoRegular', RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	margin: 0;
	padding: 0;
	/* See: http://stackoverflow.com/a/11823698 */
    -webkit-user-select: none;
	user-select: none;
	/* prevent webkit from resizing text to fit */
	-webkit-text-size-adjust: none;             	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	color: #212121;
}
.left { float: left !important; }
.right { float: right !important; }
.clear { clear: both !important; display:block;}

#main_toolbar, #drawer_toolbar {
	color: #fff;
	fill: #fff;
	/* background-color: #FDD835; */
	background-color: #FFC107;
}

paper-header-panel {
	/* background-color: #fff; */
}

#content {
	padding: 10px;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

#content paper-fab {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: fixed;
	bottom: 20px;
	right: 20px;
	/* background-color: #FDD835;       e5ae08    */
	background-color: #FFC107;
}

.m_simple_highlight {
	background-color: #A3C7EE !important;
}

paper-ripple {
	color: #A3C7EE;
}

#m_setting_list {
	background-color: transparent;
}

section.route_page {
	display: none;
}

section.route_active_page {
	display: block !important;
}


#m_context_dialog {
	max-height: 400px;
	overflow: hidden !important;
	border-radius: 3px;
}

#m_context_dialog paper-button {
	padding: 0;
	margin: 0;
	width: 300px;
	padding: 16px;	
}

#m_context_dialog .m_context_div {
	padding: 0;
	margin: 0;
}

.button_divider {
	margin-top: 40px;
	display: block;
	text-align:center;
}

.button_divider paper-button {
	width: 150px;
}

.align_center {
	text-align: center;
}

#mainContainer {
	background-color: #F7F7F7;
}

#m_dropdown_menu {
	display: none;
	background-color: #fff;
	position: fixed;
	top: 5px;
	right: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#m_dropdown_menu div {
	width: 150px;
	padding: 15px;
	position: relative;
	overflow: hidden;
}


/* List Page { */
#monthly_item_list_page {
	padding-bottom: 30px;
}
#m_month_nav_con {
	position: relative;
	text-align: center;
}
#m_list_date_con {
	width: 64%;
	padding: 21px 0;
}
#m_month_nav_con paper-icon-button {
	padding: 20px;
}
#m_list_item_con {
	padding: 0;
	margin: 0;
}
.m_no_items,
.m_page_thinking {
	display: block;
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #A6A6A6;
	
}
.m_page_thinking {
	padding-top: 200px;
}
.m_no_items {
	padding-top: 150px;
}

.m_monthly_list_item:first-child {
	margin-top: 5px !important;
}
.m_monthly_list_item {
	padding: 1px 10px;
	margin: 20px 0;
	min-height: 90px;
	padding-left: 25px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	-webkit-transition: all 0.20s linear 0s;
	transition: all 0.20s linear 0s;
	background-color: #fff;
	margin-bottom: -75px;
}
.m_monthly_list_item paper-icon-button {
	position: absolute;
	top: 25px;
	right: 15px;	
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	color: #fff;	
	border: 2px dashed #EBEBEB;
	border-radius: 50%;
}
.m_monthly_list_item paper-icon-button[icon="check"] {
	color: #82C903;	
}
.m_monthly_list_item paper-icon-button[icon="clear"] {
	color: #EC5A4B;	
}
.m_monthly_list_item paper-icon-button iron-icon {
	width: 50px;
	height: 50px;
}
.m_monthly_list_item header {
	font-size: 15px;
	overflow-wrap: break-word;
	padding: 5px;
	padding-left: 0;
	padding-top: 11px;
}
.m_monthly_list_item header.no_notes {
	padding-top: 30px;
	text-align: center;
}
.m_monthly_list_item .notes {
	font-family: 'RobotoThin';
	font-size: 13px;
	color: #B7B5B2;
	text-align: justify;
	margin: 0;
	padding-bottom: 8px;
}

/* #m_month_changer_button paper-ripple {
	color: #F9CE0D;
} */
#m_list_item_con paper-material,
#m_list_item_con .m_monthly_list_item {
	border-radius: 3px;
}

/* } */

/* Logs Page { */
#logs_page {
	background-color: #272822;
}
#m_log_con {
	background-color: none;
	color: #fff;
	padding: 10px;
	font-size: 11px;
	/* See: http://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
	word-wrap: break-word;
}
/* Logs Page } */

/* New Item Page { */
#new_item_page {
	padding-top: 30px;
}

#new_item_page paper-radio-group {
	margin-top: 30px;
}
/* New Item Page } */

/* Add notes Page { */
#add_notes_page {
	padding-top: 30px;
}
/* Add notes Page } */